<h1>
    Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Pregunta: <b><%= quiz.question %></b> (by <%= quiz.Author ? quiz.Author.username : "Anónimo" %>)
    </p>


    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Respuesta" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Comprobar">
    </div>
    <p>

    </p>

    <script type="text/javascript">
    function pistas() {
        document.getElementById("pistas").style.display = "block";
    }

    </script>

    <button type="button" onclick="pistas()">Pista</button>

    <div id="pistas" style="display: none">

    <h1>
        Pistas:
    </h1>

        <% var notacc = 0;%>
        <% if (quiz.Tips && quiz.Tips.length != 0) { %>
            <% for (var i in quiz.Tips) { %>

            <% var tip = quiz.Tips[i]; %>

            <% if(tip.accepted) { %>
                <li>
                    <%= tip.text %>
                    <span id="autor"> (by <%= tip.Author ? tip.Author.username : "Anónimo" %>) </span>
                </li>

            <% } else { %>
            <% notacc++; %>

            <% } %>
        <% } %>
    <% } %>

        <% if(notacc == quiz.Tips.length || quiz.Tips.length == 0) { %>
        <p>
            Lo sentimos, no hay ninguna pista disponible.
        </p>
        <% } %>
    </div>

</form>