<h1>
    Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Pregunta: <b><%= quiz.question %></b>
    </p>


    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Respuesta" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Comprobar">
    </div>
    <p>

    </p>

    <h1>
        Pistas:
    </h1>

    <% if (Tips && Tips.length != 0) { %>
    <% for (var i in Tips) { %>
    <% var tip = Tips[i]; %>
    <li>
        <%= tip.text %>
        <span id="autor"> (by <%= tip.Author ? tip.Author.username : "Anómino" %>) </span>
    </li>
    <% } %>
    <% } %>
    <% if (!Tips || Tips == 0) { %>
    <p>Lo sentimos, no hay ninguna pista disponible.</p>
    <% } %>

</form>